<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Precrastinator</title>

    <!-- Font Awesome v5 -->
	<script src="https://kit.fontawesome.com/cd1bf23aec.js" crossorigin="anonymous"></script>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    
    <!-- Header -->

    <header class="container" id="header">
        <nav>
            <h1> <i class="fas fa-stopwatch"></i> Precrastinator</h1>
            <a href="/logout"> <i class="far fa-user-circle"></i> Logout</a>
        </nav>
        <hr>

        <div class="pomoContents">
            <div class="pomoContainer">
                <div class="pomoButtons">
                    <!-- Add mainEventListener JS function to change background color -->
                    <a href="#">Precrastinate</a>
                    <a href="#">Short Break</a>
                    <a href="#">Long Break</a>
                </div>

                <h1 id="timer">25:00</h1>
                <!-- Add mainEventListener JS function to start timer count down-->
                <div class="startBtn">
                    <a href="#">START</a>
                </div>

            </div>
        </div>


        <form action="/todos/createTodo" method='POST'>
            <label for="todoItem" class="label">Tasks:   </label>
            <input type="text" placeholder="Enter task here" name='todoItem' class="inputText">
            <input type="submit" class="addButton">
        </form>
        <hr class="shortLine">

        <div class="tasksContents">
            <div class="tasksContainer">
                <ol class="tasksList">
                    <% todos.forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'>
                                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                                <span class='del'> <i class="fas fa-trash-alt"></i> </span>
                            </li>
                    <% }) %>    
                </ol>
            </div>
        </div>    
        
        <h2><%= user.userName %> has <%= left %> things left to do.</h2>

        <section>
            <h1> Readme </h1>
        </section>

    </header>

    <!-- Section -->
    

    <!-- Footer -->

    <footer id="footer">
        <div class="social-icons-2">
			<span class="hidden">Follow us:</span>
			<a href="https://www.instagram.com/" target="_blank">
				<i class="fab fa-instagram"> <span class="hidden">Instagram</span> </i>
			</a>
			<a href="https://twitter.com/" target="_blank">
				<i class="fab fa-twitter"> <span class="hidden">Twitter</span> </i>
			</a>
			<a href="https://www.linkedin.com/in/" target="_blank">
				<i class="fab fa-github"> <span class="hidden">Github</span></i>
			</a>
			<a href="https://github.com/" target="_blank">
				<i class="fab fa-linkedin"> <span class="hidden">Linkedin</span> </i>
			</a>
		</div>
        <hr>
        <h3>Designed and Built by 100Devs Team</h3>
    </footer>

    <script src="js/main.js"></script>
</body>
</html>