<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Precrastinator</title>

    <!-- Font Awesome v5 -->
	<script src="https://kit.fontawesome.com/cd1bf23aec.js" crossorigin="anonymous"></script>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/todoTest.css">
</head>

<body>
    <progress id="js-progress" value="0"></progress>
    <div class="progress-bar"></div>
    
    <!-- Header -->

    <header class="container" id="header">
        <nav>
            <h1> <i class="fas fa-stopwatch"></i> Precrastinator</h1>
            <a href="/logout"> <i class="far fa-user-circle"></i> Logout</a>
        </nav>
        <hr>

        <div class="pomoContents">
            <div class="pomoContainer">
              <div class="pomoButtons" id="js-mode-buttons">
                <!-- Add mainEventListener JS function to change background color -->
                <a data-mode="pomodoro" href="#" class="active">Precrastinate </a>
                <a data-mode="shortBreak" href="#">Short Break</a>
                <a data-mode="longBreak" href="#">Long Break</a>
              </div>
    
              <div class="clock" id="js-clock">
                <h1>
                  <span id="js-minutes">25</span>
                  <span class="separator">:</span>
                  <span id="js-seconds">00</span>
                </h1>
              </div>
              <!-- Add mainEventListener JS function to start timer count down-->
              <div class="startBtn">
                <a id="startBtn" data-action="start" href="#">START</a>
              </div>
            </div>
          </div>

        <form action="/todos/createTodo" method='POST'>
            <label for="todoItem" class="label">Tasks:   </label>
            <input type="text" placeholder="Enter task here" name='todoItem' class="inputText">
            <input type="submit" class="addButton">
        </form>
        <hr class="shortLine">

        <div class="tasksContents">
            <div class="tasksContainer">
                <ol class="tasksList">
                    <% todos.forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'>
                                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                                <span class='del'> <i class="fas fa-trash-alt"></i> </span>
                            </li>
                    <% }) %>    
                </ol>
            </div>
        </div>    
        
        <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    </header>

    <!-- Section -->
    

    <!-- Footer -->

    <footer id="footer">
        <div class="social-icons-2">
            <span class="hidden">Follow 100Devs:</span>
            <a href="https://www.twitch.tv/learnwithleon" target="_blank">
                <i class="fab fa-twitch"> <span class="hidden">Twitch</span> </i>
            </a>
            <a href="https://twitter.com/leonnoel" target="_blank">
                <i class="fab fa-twitter"> <span class="hidden">Twitter</span> </i>
            </a>
            <a href="https://github.com/100devs" target="_blank">
                <i class="fab fa-github"> <span class="hidden">Github</span></i>
            </a>
            <a href="https://www.linkedin.com/company/100devs/mycompany/" target="_blank">
                <i class="fab fa-linkedin"> <span class="hidden">LinkedIn</span> </i>
            </a>
        </div>
        <hr>
        <h4>Designed and built with <span>&hearts;</span> by:</h4>
        <div>
            <span><a href="https://github.com/hodinsay">Din, </a></span>
            <span><a href="https://github.com/Pablodelao"> Pablo, </a></span>
            <span><a href="https://github.com/diathekez"> Bryan, </a></span>
            <span><a href="https://github.com/VellumMoon"> Jesseca. </a></span>
        </div>
        <br>
        <p>© Precrastinator 2022. All Rights Reserved.</p>
    </footer>



    <script src="js/timerManager.js"></script>
    <script src="js/todoTest.js"></script>
</body>
</html>